* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .3s;
}


.about {
  --themeColor1: #34421E;
  --themeColor2: #C19434;
  --textColor: #C19434;
  --bgColor: #F1F1EF; 
}

.component {
  --themeColor1: #E4667D;
  --themeColor2: #70B0EE;
  --textColor: #666;  
  --bgColor: #fff url(../img/bg.svg) 0 0 no-repeat;
}

.framework {
  --themeColor1: #222;
  --themeColor2: #555;
  --textColor: #666;  
  --bgColor: #fff url(../img/bg.svg) 0 0 no-repeat;
}

.miniapp {
  --themeColor1: #34421E;
  --themeColor2: #C19434;
  --textColor: #C19434;
  --bgColor: #F1F1EF; 
}

.wheels {
  --themeColor1: #E4667D;
  --themeColor2: #70B0EE;
  --textColor: #666;  
  --bgColor: #fff url(../img/bg.svg) 0 0 no-repeat;
}



#page {
  position: relative;
  border-top: 10px solid var(--themeColor1);
  border-left: 10px solid var(--themeColor2);
  border-right: 10px solid var(--themeColor1);
  border-bottom: 10px solid var(--themeColor2);  
  background: var(--bgColor); /*url(../img/bg.svg) 0 0 no-repeat; */
  height: 100vh;
  overflow: auto;
  scroll-behavior: smooth; 
  color: var(--textColor);
}

#page::before {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  content: '';
  display: block;
  width: 25%;
  height: 10px;
  background-color: var(--themeColor2);
  transition: width .3s;
}



#page::after {
  position: fixed;
  bottom: 0;
  right: 0;
  content: '';
  display: block;
  width: 25%;
  height: 10px;
  background-color: var(--themeColor1);
  transition: width .3s;
}

#page.about::before,
#page.about::after {
  width:15%;
}

#page.component::before,
#page.component::after {
  width: 35%;
}

#page.framework::before,
#page.framework::after {
  width: 50%;
}

#page.miniapp::before,
#page.miniapp::after {
  width: 65%;
}

#page.wheels::before,
#page.wheels::after {
  width: 85%;
}


.logo {
  position: fixed;
  left: 145px;
  top: 50px;
  width: 90px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 29px;
  font-family: cursive, 'Courier New', Courier, monospace;
  background: linear-gradient(to right, var(--themeColor2) 50%, var(--themeColor1) 50%);
}

.contact {
  position: fixed;
  right: 145px;
  top: 50px;
}

.contact a {
  text-decoration: none;
  color: var(--themeColor2);
  margin-left: 10px;
}

.contact .iconfont {
  font-size: 20px;
}

nav {
  position: fixed;
  left: 50%;
  bottom: 100px;
  transform: translateX(-50%);
  border-bottom: 1px solid var(--themeColor1);
  display: flex;
  width: 70%;
  min-width: 800px;
}
nav > a {
  flex: 1;
  padding-bottom: 10px;
  font-size: 14px;
  color: var(--textColor);
  text-decoration: none;
  font-family: cursive, 'Courier New', Courier, monospace;
  text-align: center;
}

nav::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: calc(100%/5);
  height: 3px;
  background: var(--themeColor1);
  transition: left .3s;
}

#page.about nav::after{
  left: 0;
}

#page.component nav::after {
  left: calc(1*100%/5)
}

#page.framework nav::after {
  left: calc(2*100%/5)
}

#page.miniapp nav::after {
  left: calc(3*100%/5)
}

#page.wheels nav::after {
  left: calc(4*100%/5)
}


section {
  display: flex;
  height: 100vh;
  min-height: 600px;
  padding: 200px 120px;
}

section .main {
  flex: 1;
}

section figure {
  width: 350px;
  margin-left: 80px;
}

section figure img {
  width: 100%;
}

section h2 {
  font-size: 30px;
  color: var(--themeColor2);
}

section .labels {
  color: var(--textColor);
  font-size: 12px;
  margin-top: 20px;
}

section .detail {
  color: var(--textColor);
  font-size: 16px;
  margin-top: 20px;
}

section .detail p {
  margin-top: 10px;
  font-weight: 200;
}

section .download {
  margin-top: 20px;
}

section .download  a{
  color: var(--themeColor1);
  text-decoration: none;
  font-size: 12px;
  border: 1px solid var(--themeColor1);
  padding: 4px;
  border-radius: 4px;
  opacity: 0.6;
  transition: opacity .3s;
}

section .download  a:hover {
  opacity: 1;
}